 @import "bootstrap/scss/bootstrap";

ul {
  padding: 0;
  list-style: none;
}

.topics-table {
  margin-top: 1rem;
  padding: 8px;
  border: 2px solid cadetblue;
  border-radius: 10px;
}

ul.header-titles, li.topics-body, li.topics-body ul {
  overflow: hidden;
}

li.topics-header, ul.topic-item {
  padding: 8px;
}

ul.topic-item, ul.header-titles {
  display: flex;
}

ul.topic-item {
  border-top: 1px solid cadetblue;
}

.topics-table {
  .header-titles li, ul.topic-item li {
    flex: 1;

    &:first-child {
      flex: 3;
    }
  }
}

main {
  min-height: calc(100vh - 86px - 72px);
}
